.filter-color {
  border: 1px solid rgb(179, 200, 225);
  border-radius: 6px;
}
.list-sizes span {
  border: 1px solid rgb(179, 202, 225);
  padding: 3px 10px;
  border-radius: 6px;
}
.filter-color:hover {
  box-shadow: 1px 1px rgb(179, 196, 225);
}
.list-sizes span:hover {
  box-shadow: 1px 1px rgb(179, 197, 225);
}
.list-sizes span.active {
  background-color: rgb(167, 205, 236);
  color: white;
}
.list-color span.active {
  background-color: rgb(167, 199, 236);
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
